<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Mini Games</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Choose Your Mini Game</h1>
        <div class="d-flex justify-content-center">
            <button onclick="window.location.href='/fifa_wordle'" class="btn btn-primary m-2">FIFA WORDLE</button>
            <button onclick="window.location.href='/guess_transfer_leagues'" class="btn btn-secondary m-2">Guess The Player by Transfer</button>
            <button onclick="window.location.href='/higher_or_lower'" class="btn btn-success m-2">Higher or Lower</button>
            <button onclick="window.location.href='/guess_the_country'" class="btn btn-warning m-2">Guess the Country</button>
            <button onclick="window.location.href='/select_leagues_club_guess'" class="btn btn-info m-2">Guess the Club</button>
            <button onclick="window.location.href='/play_build_11_league'" class="btn btn-dark m-2">Play Build 11 League</button>

        </div>
    </div>
</body>
</html>
